<!DOCTYPE html>
<html lang = "en-US">

<html>
<head>
<meta charset = "UTF-8">
<title>Download Layouts</title>
<link rel = "stylesheet"
   type = "text/css"
   href = "../styles.css" />
</head>
<body>
<div class="sidebar">
  <a><img src="http://phillipbindeman.com/the-axe-resources/img/theaxe.png" class="logo"></a>
  <img src="http://phillipbindeman.com/the-axe-resources/img/line.svg" class="line">
  <h1 class="main-heading">Layouts</h1>
  <ul class="vertical">
    <li class="vertical-menu"><a class="light">Typography Basics</a></li>
    <li class="vertical-menu"><a class="light">Font Guidelines</a></li>
    <li class="vertical-menu"><a class="light">Layout Guidelines</a></li>
  </ul>
</div>
<div id="header">

  <ul class="header-menu">
    <li class="horiz"><a href = "../" class="dark">Resources</a></li>
    <li class="horiz"><a href = "../" class="dark">Style Guide</a></li>
    <li class="horiz"><a class="dark">Layouts</a></li>
  </ul>
</div>
<div class="content">
  <img class="hero" src="http://phillipbindeman.com/the-axe-resources/img/featured-img.png">
  <div class="hero-title">
    <div class="title">
      <h3 class="template-name">
Altai
</h3>
      <h4 class="template-id">
#14502182
</h4>
    </div>
    <div class="download-section">
      <a class="download-button" href="http://phillipbindeman.com/the-axe-resources/downloads/layouts/Colombo.zip">Download</a>
      <p class="file-info">
        2.3 MB Zip Archive
      </p>
    </div>
  </div>
  <!DIVIDER BETWEEN HERO LAYOUT AND CHILD SPREADS>
  <div class="divide">
  </div>
  <!BEGINNING OF CHILD PAIR>
  <div class="child-left">
    <img class="image-child" src="http://phillipbindeman.com/the-axe-resources/img/spread2.png">

    <div class="layout-info">
      <h3 class="template-name-child">Monaco</h3>
      <h3 class="template-id">#1405067</h3>
    </div>

    <!ATTACH DOWNLOAD LINK TO LAYOUT HERE>
    <div class="download-section">
      <a class="download-button" href="http://phillipbindeman.com/the-axe-resources/downloads/layouts/Colombo.zip">Download</a>
      <p class="file-info">
        5.1 MB Zip Archive
      </p>
    </div>

  </div>
  <div class="child-right">
    <img class="image-child" src="http://phillipbindeman.com/the-axe-resources/img/spread1.png">

    <div class="layout-info">
      <h3 class="template-name-child">Hamburg</h3>
      <h3 class="template-id">#1405068</h3>
    </div>

    <div class="download-section">
      <a class="download-button" href="http://phillipbindeman.com/the-axe-resources/downloads/layouts/Colombo.zip">Download</a>
      <p class="file-info">
        8.1 MB Zip Archive
      </p>
    </div>
  </div>
  <!END OF CHILD PAIR>

  <!BEGINNING OF CHILD PAIR>
  <div class="child-left">
    <img class="image-child" src="http://phillipbindeman.com/the-axe-resources/img/spread3.png">

    <div class="layout-info">
      <h3 class="template-name-child">Kyoto</h3>
      <h3 class="template-id">#1405067</h3>
    </div>

    <!ATTACH DOWNLOAD LINK TO LAYOUT HERE>
    <div class="download-section">
      <a class="download-button" href="http://phillipbindeman.com/the-axe-resources/downloads/layouts/Colombo.zip">Download</a>
      <p class="file-info">
        5.2 MB Zip Archive
      </p>
    </div>

  </div>
  <div class="child-right">
    <img class="image-child" src="http://phillipbindeman.com/the-axe-resources/img/spread5.png">

    <div class="layout-info">
      <h3 class="template-name-child">Luxor</h3>
      <h3 class="template-id">#1405068</h3>
    </div>

    <div class="download-section">
      <a class="download-button" href="http://phillipbindeman.com/the-axe-resources/downloads/layouts/Hamburg.zip">Download</a>
      <p class="file-info">
        7.1 MB Zip Archive
      </p>
    </div>
  </div>
  <!END OF CHILD PAIR>
  <!BEGINNING OF CHILD PAIR>
  <div class="child-left">
    <img class="image-child" src="http://phillipbindeman.com/the-axe-resources/img/spread4.png">

    <div class="layout-info">
      <h3 class="template-name-child">Manilla</h3>
      <h3 class="template-id">#1405067</h3>
    </div>

    <!ATTACH DOWNLOAD LINK TO LAYOUT HERE>
    <div class="download-section">
      <a class="download-button" href="http://phillipbindeman.com/the-axe-resources/downloads/layouts/Monrovia.zip">Download</a>
      <p class="file-info">
        4.1 MB Zip Archive
      </p>
    </div>

  </div>
  <div class="child-right">
    <img class="image-child" src="http://phillipbindeman.com/the-axe-resources/img/spread6.png">

    <div class="layout-info">
      <h3 class="template-name-child">Saihad</h3>
      <h3 class="template-id">#1405068</h3>
    </div>

    <div class="download-section">
      <a class="download-button" href="http://phillipbindeman.com/the-axe-resources/downloads/layouts/Monaco.zip">Download</a>
      <p class="file-info">
        9.8 MB Zip Archive
      </p>
    </div>
  </div>
  <!END OF CHILD PAIR>
</div>


</body>
</html>