.slide-container {
    /* position: absolute; */
    /* padding: 100px, 80px, 50px, 50px; */
  /*   display: block; */
    /* margin: auto; */
    
  }
  
  .stat-container {
    width: 600px;
    margin: auto;
  /*   position: relative; */
    padding: 80px, 30px;
    text-align: center;
  }
  
  .stat-element {
    width: 25%;
    float: left;
    padding: 20px, 20px, 20px, 20px;
    margin: 20px, 20px, 20px, 20px;
  }
  
  h1, h2 {
    display: inline;
  }
  
  h1, h2, h6 {
    text-align: center;
    font-family: Arial;
  /*   letter-spacing: -0.2px; */
    line-height: 5px;
  
  }
  
  h6 {
    font-weight: 200;
    letter-spacing: -0.2px;
    font-size: 14px;
    color: grey;
  }
  
  